@using Model
@using Model.Services
@model string[]

@{
    ViewData["Title"] = "Index";
    var a = ViewBag.kkk;
}
<p>
    <a asp-action="Create">Escolher Times para participar das rotas</a>
</p>
<table class="table">
    <thead>
        <form asp-action="Create">
        <h5>Escolha as colunas que deseja nas informações da rota</h5>
        <div class="form-group">
        @for(int i = 0;i<@Model.GetLength(0);i++)
        {
            <tr>
                <td>
                    <div class="checkbox">
                    <input type="checkbox" id="colRequeridas" name="colRequeridas" value="@Model[i]">
                    @Html.DisplayFor(model => model[i])
                    </div>
                </td>
            </tr>
        }
        </div>
        <div class="form-group">
             <label for="cars">Escolha uma cidade:</label>
             <select name="cidadeRota" id="cidadeRota">
                 @foreach(Cidade cidade in await ConsultaService.GetCidades())
                    {
                        <option value="@cidade.Id">@cidade.Nome</option>
                    }
             </select>
        </div>
        <h5>Escolha as equipes</h5>
        <div class="form-group">
                @foreach(Equipe equipe in await ConsultaService.GetEquipes())
                {
                    <div class="checkbox">
                    <input type="checkbox" id="equipesRota" name="equipesRota" value="@equipe.Id">
                    <label> @equipe.Nome </label><br>
                    </div>
                }
        </div>
        </form>
    </thead>
    <tbody>
    </tbody>
</table>
