@using Model
@using Model.Services
@model List<string>

@{
	ViewData["Title"] = "Index";
	string[] @servicos = new string[]{
"INSTALAÇÃO",
"MUDANÇA DE ENDEREÇO",
"MUDANÇA DE LOCAL",
"REFAZER MANUTENÇÃO",
"REINSTALAÇÃO",
"RETORNO CREDENCIADA",
"SEM SINAL",
"TROCA DE TERMINAL",
"VISITA TECNICA"};
}
<table class="table">
	<thead>
		<form asp-action="Create">
			
			<h5>Escolha as colunas que deseja nas informações da rota</h5>
				@for(int i = 0;i<Model.Count ;i++)
				{
					<tr>
						<td>
							<div class="checkbox">
								<input type="checkbox" id="colRequeridas" name="colRequeridas" value="@i" />
										@Html.DisplayFor(coluna => coluna[i])
										
							</div>
						</td>
					</tr>
				}
		<div class="form-group">
			<h5>Escolha o Serviço</h5>
			<select name="servicoRota" id="servicoRota" >
					@foreach (string servico in servicos)
					{
					<option value="@servico" >@servico</option>
					}
			</select>
		</div>

		<div class="form-group">
			<label for="cars">Escolha uma cidade:</label>
			<select name="cidadeRota" id="cidadeRota" oninput="">
					@foreach (Cidade cidade in await ConsultaService.GetCidades())
					{
					<option value="@cidade.Id">@cidade.Nome</option>
					}
			</select>
		</div>
		<div class="form-group">
			<label for="cars">Escolha os times:</label>
					@foreach (Equipe equipe in await ConsultaService.GetEquipes())
					{
					<tr>
						<td>
							<div class="checkbox">
								<input type="checkbox" id="equipesRota" name="equipesRota" value="@equipe.Id" />@equipe.Nome
							</div>
						</td>
					</tr>
					}
		</div>
		<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
		</form>
	</thead>
	<tbody>
		<script>
			function equipesCidade(){
			}
		</script>
	</tbody>
</table>
