@using MVCControleRotas.Controllers
@using Model
@using Model.Services
@model List<string>

@{
	ViewData["Title"] = "Index";
	string[] @servicos = new string[]{
"INSTALAÇÃO",
"MUDANÇA DE ENDEREÇO",
"MUDANÇA DE LOCAL",
"REFAZER MANUTENÇÃO",
"REINSTALAÇÃO",
"RETORNO CREDENCIADA",
"SEM SINAL",
"TROCA DE TERMINAL",
"VISITA TECNICA",
"MANUTENÇÃO"};

}
<form asp-action="Create">
	<div class="form-group">
			<h5>Escolha o Serviço</h5>
			<select name="servicoRota" id="servicoRota">
				<option value="none">---</option>
				@foreach (string servico in servicos)
				{
				<option value="@servico">@servico</option>
				}
			</select>
		</div>

		<div class="form-group">
			<h5>Escolha uma cidade:</h5>
			<select name="cidadeRota" id="cidadeRota">
				<option value="000000000000000000000000">---</option>
				@foreach (Cidade cidade in await ConsultaService.GetCidades())
				{
				<option value="@cidade.Id">@cidade.Nome</option>
				}
			</select>
		</div>

		<div class="form-group">
			<h5>Escolha os times:</h5>
				<div class="checkbox" id="selectTimes">
						
				</div>
		</div>
	<thead>
			<h5>Escolha as colunas que deseja nas informações da rota</h5>
			@for (int i = 0; i < Model.Count; i++)
			{
				if(RotasController._nomesColEnd.Find(coluna => coluna == Model[i]) == null)
				{	
					<tr>
						<td>
							<div class="checkbox">
						
								<input type="checkbox" id="colRequeridas" name="colRequeridas" value="@i" />
									@Html.DisplayFor(coluna => coluna[i])

							</div>
						</td>
					</tr>
				}
			}
		<div class="form-group">
			<input type="submit" value="Criar rota" class="btn btn-primary"/>
		</div>
		</form>
	</thead>
		<script>
			$(document).ready(function () {
				var url = '@Url.Action("GetTimesCidade", "Equipes")';
				console.log(url);
				$("#cidadeRota").change(function() {
					let id = $(this).val();  
					console.log(id);
					$.ajax({
						url : url,
						type : 'get',
						data : {
							id : id
						}
					})
					.done(function(equipes){
						 console.log(equipes);
						 var inputs = "";
						 equipes.map(function(equipe, i) {
							inputs+="<input type='checkbox' id='equipesRota' name='equipesRota' value='"+equipe.id+"'/> "+equipe.nome+"<p></p>";
							
						 })
						 $("#selectTimes").html(inputs);
					})
					.fail(function(err){
									alert(err);
					});
				});
			});
		</script>
	<tbody>
	</tbody>
